comtypes
customtkinter
ddgs
gemini_webapi
google-genai
keyboard
loguru
mammoth
mcp
numpy
ollama
pillow
pyatspi
pymupdf
pynput
pyperclip
PyQt5
PySide6
pytesseract
python-docx
pywebview
pywin32
qtpy
requests
rich
sounddevice
uiautomation
websocket-client
