browser-cookie3
pywebview
PySide6
qtpy
gemini_webapi
google-genai
keyboard
mammoth
mcp
numpy
pillow
pyatspi
pymupdf
pynput
pytesseract
python-docx
python-docx
pywin32
requests
rich
run
sounddevice
then
uiautomation
websocket-client
