comtypes
customtkinter
ddgs
gemini_webapi
google-genai
keyboard
loguru
mammoth
mcp
numpy
ollama
pillow
pymupdf
pynput
pyperclip
pytesseract
python-docx
pywebview
PyQt5
PyQtWebEngine
pywin32
qtpy
requests
rich
sounddevice
uiautomation
websocket-client
pdfstructx
pygments
